html, body, #map-canvas {
	height: 100%;
	margin: 0;
	padding: 0;
}
.labels {
	 color: red;
	 background-color: white;
	 font-family: "Lucida Grande", "Arial", sans-serif;
	 font-size: 15px;
	 font-weight: bold;
	 text-align: center;
	 width: 90px;     
	 border: 2px solid red;
	 white-space: nowrap;
}